{% extends 'base.html.twig' %}

{% block title 'Bienvenue' %}


{% block body %}
	<div class="container">
		<div class="row mt-5">
			<div class="col-sm-12 col-md-8 fw-bold col-lg-8 border-1 pe-5 text-wrap">
				<h1 class="display-3 fw-bold intro-title">Trouvez et réservez un rendez-vous médical ou paramédical</h1>
				<span class="text-success fs-3 font-italic">en quelques clic</span>
			</div>
			<div class="col-md-4 col-lg-4">
				<img src="{{ asset('./images/doctor.jpg')}}" class="w-75" alt="Dotor image"/>
			</div>
		</div>

		<div class="row justify-content-around  mt-5 gap-3">
			<div class="col-sm-12 col-md-6 col-lg-3">
				<div class="box">
					<div class="circle-content rounded-circle">sdsd</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-3">
				<div class="box">
					<div class="circle-content rounded-circle">sdsd</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-3">
				<div class="box">
					<div class="circle-content rounded-circle">sdsd</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-around mt-5 gap-3">


			<div class="col-sm-12 col-md-6 col-lg-3">
				<div class="box">
					<div class="circle-content rounded-circle">sdsd</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-3">
				<div class="box">
					<div class="circle-content rounded-circle">sdsd</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
